# RDS connection
MYSQL_DATABASE=logpon
MYSQL_USER=logpon_user
MYSQL_PASSWORD=change_me
MYSQL_HOST=your-rds-endpoint
MYSQL_PORT=3306

# Django public endpoint
DJANGO_SETTINGS_MODULE=config.settings.prod
DJANGO_DEBUG=False
APP_DOMAIN_NAME=example.com
DJANGO_ALLOWED_HOSTS=example.com,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://example.com
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_PROXY_SSL_HEADER=True
DJANGO_CSRF_COOKIE_SECURE=True
DJANGO_SESSION_COOKIE_SECURE=True

# Django secret key
DJANGO_SECRET_KEY=change_me

# Email
EMAIL_BACKEND=django.core.mail.backends.dummy.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@example.com

# HSTS
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False
DJANGO_SECURE_HSTS_PRELOAD=False

# Locale
TZ=Asia/Tokyo
DJANGO_LANGUAGE_CODE=ja
