DJANGO_SETTINGS_MODULE=config.settings.prod
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=example.com,127.0.0.1,localhost
MYSQL_DATABASE=logpon
MYSQL_USER=logpon_user
MYSQL_PASSWORD=change_me
MYSQL_HOST=your-rds-endpoint
MYSQL_PORT=3306
DJANGO_SECRET_KEY=change_me
TZ=Asia/Tokyo
DJANGO_LANGUAGE_CODE=ja
